/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

:root {
  font-size: 12px;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  min-width: 375px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(hsl(273, 75%, 66%) 50%, hsl(240, 73%, 65%) 100%);
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.wrapper {
  color: black;
  position: relative;
  max-width: 27rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

img.mobile {
  position: relative;
  width: 75%;
  z-index: 2;
}

img.desktop {
  display: none;
}

.main {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
  background-color: white;
  background-image: url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 50% 0;
  border-radius: 1.5rem;
  margin-top: -7rem;
  box-shadow: 0px 20px 40px -20px hsl(240, 73%, 25%);
}

.main h1 {
  font-size: 2rem;
  margin-top: 9rem;
}

.list {
  line-height: 100%;
  padding: 0rem 2rem 2rem;
  font-size: 1rem;
}

.list > li {
  border-bottom: 1px solid hsl(240, 73%, 65%);
  text-align: left;
}



.list label {
  color: black;
  position: relative;
  font-size: 1rem;
  display: block;
  padding: 1rem 0;
  line-height: 100%;
  width: 100%;
}

label:hover {
  color: hsl(14, 88%, 65%);
}


.icon {
  display: inline-block;
  background-image: url(images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 5%;
  top: 50%;
  bottom: 0;
  position: absolute;
  right: 0;
  transform: rotate(0deg);
  transform: translateY(-50%);
  z-index: -1;
}

.list p {
  padding-bottom: 1rem;
}

.hide {
  display: none;
}

.unhide {
  display: block;
}

input[type="checkbox"] {
  display: none;
}

@media screen and (min-width: 800px) {
  :root {
    font-size: calc(12px + .05em);
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: -205% 75%;
    width: 100%;
    max-width: 48rem;
    flex-direction: row;
    background-color: white;
    height: initial;
    padding: 2rem 3rem 3rem 0;
    border-radius: 1.5rem;
  }

  .header {
    position: static;
    flex: 0 1 50%;
    min-width:max-content;
    height: 100%;
    background-image: url(images/illustration-woman-online-desktop.svg);
    background-color: none;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -4rem center;
  }

  img.mobile {
    display: none;
  }

  img.desktop {
    display: block;
    position: absolute;
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: -10%;
    margin-top: 4%;
  }

  .main {
    position: relative;
    background-image: none;
    z-index: 1;
    text-align: center;
    width: 100%;
    flex: 1 0 50%;
    border-radius: 1.5rem;
    margin-top: 0;
    box-shadow: none;
  }

  .main h1 {
    margin-top: 0;
    text-align: left;
  }

  .list {
    padding: 0;
  }

}


